:root {
    --txt-color: rgb(145, 145, 42);
    --bg-color: rgb(220, 242, 183);
    --border-color: rgb(145, 145, 42);
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.container {
    margin: 50px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: solid 10px rgb(171, 171, 58);
    border-radius: 10px;
    background-color: rgb(220, 242, 183);
}

.input__case {
    border: solid 4px rgb(171, 171, 58);
    border-radius: 10px;   
}

#create__ad__form, .register__user__form , .ad__detail__container{

    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.logo__container {
    margin: 30px;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(171, 171, 58);
    text-shadow: rgb(8, 8, 8) -1px -0.1px
    1px;
    font-size: 35px;
}

.notification__container, .notification{
    text-align: center;
    color: var(--txt-color);
    text-shadow: rgb(8, 8, 8) -1px -0.1px;
}

.create__ad__button, .login__button, .button__element {
    min-height: 30px;
    min-width: 150px;
    color: var(--txt-color);
    background-color: rgb(196, 232, 250) ;
    margin:20px auto 20px;
    border-radius: 5px;
    border: solid 3px var(--border-color);
}

.photo__frame {
    position: relative;
    background-color: black;
    border-radius: 5px;
    border: solid 10px var(--border-color);
    overflow: hidden;
}

@media screen and (min-width: 450px) {
    .logo__imgP{
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .logo__imgG{
        display: none;
    }

    .container {
        margin: 50px 10px;
    }
}

@media screen and (max-width: 400px) {
    .photo__frame{
        max-width: 280px;
    }
}