:root {
    font-family: 'Berkshire Swash', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.container {
    margin: 50px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: solid 10px rgb(171, 171, 58);
    border-radius: 10px;
    background-color: rgb(220, 242, 183);
}

#create__ad__form, .register__user__form {
    color: rgb(145, 145, 42);
    text-shadow: rgb(8, 8, 8) -1px -0.1px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.logo__container {
    margin: 30px;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(171, 171, 58);
    text-shadow: rgb(8, 8, 8) -1px -0.1px
    1px;
    font-size: 35px;
}

@media screen and (min-width: 450px) {
    .logo__imgP{
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .logo__imgG{
        display: none;
    }

    .container {
        margin: 50px 10px;
    }
}