:root {
    --txt-color: rgb(145, 145, 42);
    --bg-color: rgb(220, 242, 183);
    --border-color: rgb(145, 145, 42);
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#link__create__ad {
    height: 175px;
    display:flex;
    background-color: var(--bg-color);
    justify-content: space-around;
    align-items: center;
    border: solid 5px var(--border-color);
    border-radius: 10px;
}


.hide {
    display: none;
}

.view {
    display: block;
}

.login__button, #prev, #next {
    min-height: 30px;
    min-width: 150px;
    color: var(--txt-color);
    background-color: rgb(196, 232, 250) ;
    margin:20px auto 20px;
    border-radius: 5px;
    border: solid 3px var(--border-color);
}

#ads__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ad__article {
    height: 500px;
    width: 350px;
    text-align: center;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 3px var(--border-color);
}

.ad__anchor {
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    
}

.empty__ads {
    margin: 20px auto;
    text-align: center;
    color: var(--txt-color);
    text-shadow: rgb(8, 8, 8) -1px -0.1px;
}

#ads__not__found, .welcome {
    text-align: center;
    color: var(--txt-color);
    text-shadow: rgb(8, 8, 8) -1px -0.1px;
    font-family: 'Berkshire Swash', cursive;
}

.photo__frame {
    max-width: 330px;
    position: relative;
    background-color: black;
    border-radius: 5px;
    border: solid 10px var(--border-color);
    overflow: hidden;
}

.paginacion {
    margin: 10px auto;
    text-align: center;
}

@media screen and (max-width: 350px) {
    .photo__frame{
        max-width: 300px;
    }

    .login__button {
        min-width: 130px;
    }
}